/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
overflow-x: hidden;
background: none; /* Remove the background directly from body */
font-family: 'Arial', sans-serif;
position: relative;
}

body::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: url('/static/images/image-2.jpg'); /* Ensure this file is in the static folder */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
filter: brightness(1.2) blur(2px); /* Brightness and blur effect */
z-index: -1; /* Ensure the pseudo-element stays behind the content */
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
    /* background: linear-gradient(45deg, #e0f7fa, #b2ebf2, #80deea); */
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    margin: 0;
    font-family: 'Arial', sans-serif;
    position: relative;
}
.nav-logo p {
    color: white;
    font-size: 30px;
    font-weight: 600;
    animation: colorScale 3s ease-in-out infinite;
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: radial-gradient(circle, rgba(82, 241, 246, 0.3) 30%, rgba(62, 207, 244, 0.4));
    z-index: 100;
    animation: navSlideIn 0.5s ease-in-out;
}
@keyframes navSlideIn {
0% {
transform: translateY(-100%);
}
100% {
transform: translateY(0);
}
}

.nav-menu ul{
display: flex;
}

.nav-menu ul li{
list-style-type: none;
font-size: 18px;
font-weight: bold;
color:#079ca1;
}
.nav-menu ul li a:hover{
color:#079ca1;
font-size:19px;
font-weight: 900;
}
.nav-menu ul li .link{
text-decoration: none;
font-weight: 700;
color:#05878c;
padding-bottom: 15px;
margin: 0 25px;
}

.link:hover, .active{
border-bottom: 2px solid #07b19d;

}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(5, 157, 155, 0.825);
    border: none;
    color:#fff;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:#05878c;
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background:  rgba(5, 157, 155, 0.825);
    color: #fff;
    }
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
    color:#079ca1;
    }
.nav-menu-btn{
    display: none;
}

.container {
    max-width: 500px;
    width:100%;
    height:400px;
    padding: 3rem;
    background: rgba(213, 247, 247, 0.582);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.3s ease;
    animation: float 6s ease-in-out infinite;
    box-shadow: 0 -20px 50px rgba(44, 160, 162, 0.581), /* Upper shadow */
              0 40px 50px  rgba(44, 160, 162, 0.582);  /* Lower shadow */
  
  }

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

h1 {
    color:#00796b;;
    font-size: 35px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeInDown 1s ease-out;
    background: linear-gradient(45deg, #006064, #00838f, #0097a7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: textGradient 5s linear infinite;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes textGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

p {
    color:#00796b;;
    font-size: 22px;
    margin-bottom: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    background: rgba(4, 144, 130, 0.955);
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #00796b;;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 540px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

.btn:hover{
background: rgba(255, 255, 255, 0.3);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background:  rgba(5, 157, 155, 0.825);
    color: #fff;
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
    color:#079ca1;
}
.nav-menu-btn{
    display: none;
}


  /* Animation for the fade-in effect */
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(5, 132, 134, 0.211);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(5, 136, 119, 0.599);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
    .nav-menu ul li{
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
     color:#fff;
}
.nav-menu ul li a:hover{
    color:#fff;
    font-size:20px;
    
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 700;
    color:#fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active{
    border-bottom: 2px solid #07b19d;
   
}
}
@keyframes colorScale {
    0% {
        color: #07a3a9;
        transform: scale(1.1);
    }
    50% {
        color: #079ca1; /* You can change this to any color you prefer */
        transform: scale(1.2); /* Slightly scales up the text */
    }
    100% {
        color: #006064;
        transform: scale(1.1);
    }
}
